/* HEADER */
header {
    position: sticky;
    top: 0;
    padding: 10px;
    background-color:aliceblue;
    box-shadow: 0 5px 25px rgb(100, 100, 100);
}

/* BODY */
body {
    background-color: cornflowerblue;
}

/* H1 */
h1 {
    font-family: Arial, sans-serif;
    font-size: 50px;
    color: #333;
    text-align: center;
    padding: 20px;
}

/* H2 */
h2 {
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #333;
    text-align: center;
    padding: 15px;
}

/* ROW */
.row {
    width: 600px;
    height: 60px;
    background-color: #f0f0f0;
    border: 2px solid #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 20px auto;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.row .rowMainLabelRef {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    text-align: left;
    text-decoration: none;
}

.row .rowMainLabelRef:hover {
    text-decoration: none;
    color: cornflowerblue;
}

.row .rowMainLabel {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #333;
    text-align: left;
    text-decoration: none;
}

.row .rowSecondaryLabel {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    text-align: left;
}